@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(217, 49%, 36%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: calc(100vh -1px);
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin: 1.25rem;
}

.qr-code-container {
  border-radius: 0.875rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.03);
  background-color: var(--white);
  padding: 1.5rem 1.25rem;
  margin-bottom: 1.5rem;
}
img {
  max-width: 100%;
}

.qr-code-container img {
  border-radius: 0.875rem;
  margin-bottom: 1.25rem;
}

.qr-code-container h2 {
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
}

.qr-code-container p {
  color: var(--grayish-blue);
  text-align: center;
  margin-top: 0.75rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
  .qr-code-container {
    width: 400px;
  }
}
